
body {
    min-height: 100vh;
     width: 100%;
    margin: 0;
    background: linear-gradient(135deg, #000000 60%, #222222 100%);
            
}
.phone-size {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #222;
    height: 75vh;   
    background: linear-gradient(135deg, #eeeff1 40%, #1b04e7 100%);
    color: black;
    box-shadow: 0 4px 24px rgba(255, 255, 255, 0.479);
    border-radius: 24px;
    aspect-ratio: 9 / 16;
            
}
.Logo{
    color: White;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vh; ;
}
.holder{
    margin: 10% 0%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;

 }