
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(135deg, #000000 60%, #222222 100%);
            
}
.phone-size {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #222;
    min-height: 75%;   
    background: linear-gradient(135deg, #eeeff1 40%, #1b04e7 100%);
    color: black;
    box-shadow: 0 4px 24px rgba(255, 255, 255, 0.479);
    border-radius: 24px;
    aspect-ratio: 9 / 16;
            
}
.Logo{
    display:flex;
    width:50px;
}
.holder{
    margin: 10% 0%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    

 }
 header{
    display: flex;
    justify-content: center;
    z-index: 7;
 }
.navbar {
    width: 50%;
    display: flex;
    
    justify-content: space-evenly;
    align-items: start;
    gap: 5%;
    margin-top: 0;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
a:hover {
    color: #1b04e7;
    transition: 0.3s;
    font-size: 3.2px;
}

.mini-phone{
    
    
}
